* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  outline: none;
}

br {
  -webkit-user-select: none;
  user-select: none;
}

*::selection {
  background-color: rgba(255,255,255, .7);
  color: red;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-family: 'Poppins', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: min(1170px, 100% - 30px);
  margin: 0 auto;
}

.section--title {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 50px;
}

.section--title::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: #4f81f3;
}